.App {
	text-align: center;
}

html,
body {
	height: 100vh;
	background-color: #002855 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	color: white;
}

.main-navbar {
	height: 3.5rem;
	background-color: #0353a4;
	justify-content: stretch;
}

.nav-item {
	height: 100%;
}

.button1 {
	box-sizing: border-box !important;
	height: 100% !important;
	background-color: #0353a4 !important;
	border-radius: 0 !important;
	border: none !important;
	/* border-right: 1px solid black !important; */
	color: black !important;
	font-size: 1.5rem !important;
}

.button1:hover {
	background-color: #979dac !important;
	color: white !important;
}

.button1 *:hover {
	color: inherit !important;
}

.button1 * {
	color: inherit !important;
	font-weight: 600 !important;
}

a,
a:focus,
a:hover,
a:link,
a:active {
	text-decoration: none;
}

.form-header {
	font-size: 2.5rem;
}
.form-item-label {
	font-size: 1.5rem;
	font-weight: 500;
	margin-right: 2rem;
}
.btn-form {
	margin-bottom: 1.5rem;
}

.main-logo {
	max-height: 20vh;
	width: auto;
}

.home-header {
	border-bottom: 4px solid white !important;
}

.main-login {
	font-weight: 600;
	border-radius: 10px;
	margin: 2em;
	padding: 1em 3em 1em 3em;
	border: 4px solid black !important;
}

.main-login:hover {
	background-color: black;
	color: white;
}

.calendar {
	background-color: whitesmoke;
	margin-top: 1rem;
	font-size: 1.2rem;
}
.btn-info {
	margin-top: 0.4rem;
	margin-bottom: 0.4rem;
}
